.App {
  padding: 30px;
}
.app-heading{
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  color: #34568B;
}
.heading {
  margin: 20px 0px 10px 0px;
}
.resultBox {
  border: 2px solid #34568B;
  white-space: normal;
  word-wrap: break-word
}
.custom-option:hover {
  background-color: #34568B;
  color: #fff;
}
.custom-option {
  padding: 12px;
  color: #34568B;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}